/* GENERAL RULES */

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



/* WRAPPER RULES */

.wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 10%;

}


/* SQUARE CONTAINER RULES */

  .square-container {

    height: 100%;
    width: 600px;
    margin-top: 10%;

  }

/* SQUARE RULES */

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  height: 100px;
  width: 100px;
  cursor: pointer;
  border: 1px solid black;
  transition: 0.5s;
}

/* CLASSE PER FAR COLORARE DI GIALLO IL QUADRATO SELEZIONATO SE NUMERO <=5 */

.square.yellow {

  background-color: yellow;

}

/* CLASSE PER FAR COLORARE DI VERDE IL QUADRATO SELEZIONATO SE NUMERO >5 */

.square.green {

  background-color: green;

}


/* NUMBER RULES */

span {

  font-size: 25px;

}
